IndentWidth: 4
NamespaceIndentation: All
BreakBeforeBraces: Allman
SpaceBeforeCpp11BracedList: true
AlignConsecutiveAssignments: true
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
  MaxEmptyLinesToKeep: 2
ColumnLimit: 100